extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Mapa
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Nosotros
          li.nav-item
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contact
  // Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-uppercase.text-white.font-weight-bold Red de Bicicletas
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | Pagina dedicada a generar puntos de union de gente con conocimiento sobre Bicicletas.
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Puntos de Reunion
  // About
  section#about.page-section.bg-primary
    .container
      #main_map
  // Services
  section#services.page-section
    .container
      h2.text-center.mt-0 De que Hablamos en nuestras reuniones?
      hr.divider.my-4
      .row
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-bike.text-primary.mb-4
            h3.h4.mb-2 Mantenimiento
            p.text-muted.mb-0 Te enseñamos como mantener a tu bicicleta en las mejores condiciones
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
            h3.h4.mb-2 Consejos
            p.text-muted.mb-0 Los mejores consejos para aficionados nuevos
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-heart.text-primary.mb-4
            h3.h4.mb-2 Marcas
            p.text-muted.mb-0 Hablamos de las mejores marcas del mercado
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-heart.text-primary.mb-4
            h3.h4.mb-2 Otros
            p.text-muted.mb-0 Is it really open source if it&apos;s not made with love?
  // Contact
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 Contacto
          hr.divider.my-4
          p.text-muted.mb-5
            | Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!
      .row
        .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
          i.fas.fa-phone.fa-3x.mb-3.text-muted
          div Instagram @BiciBA
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          // Make sure to change the email address in BOTH the anchor text and the link target below!
          a.d-block(href='mailto:contact@yourwebsite.com') Facebook
  // Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2020 - Start Bootstrap
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
  // Core theme JS
  script(src='javascripts/scripts.js')
  script(src='javascripts/map.js')